<!DOCTYPE html>
<html>

<head>

<title>OpenBazaar Contract Tools</title>

<meta name="description" content="Client-side contract tools for viewing and creating OpenBazaar contracts. Compatibility with CommonAccord API for the creation of legally enforceable contracts." />

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary">
<meta name="twitter:site" content="@openbazaar">
<meta name="twitter:title" content="OpenBazaar Contract Tools">
<meta name="twitter:description" content="Client-side contract tools for viewing and creating OpenBazaar contracts. Compatibility with CommonAccord API for the creation of legally enforceable contracts.">
<meta name="twitter:creator" content="@drwasho">
<meta name="twitter:image" content="http://s21.postimg.org/4x6gx7lyv/twitter.png">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="OpenBazaar Contract Tools">
<meta itemprop="description" content="Client-side contract tools for viewing and creating OpenBazaar contracts. Compatibility with CommonAccord API for the creation of legally enforceable contracts.">
<meta itemprop="image" content="http://s21.postimg.org/4x6gx7lyv/twitter.png">

<!-- Open Graph data -->
<meta property="og:title" content="OpenBazaar Contract Tools" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://drwasho.github.io/OB-Common-Accord/" />
<meta property="og:image" content="http://s21.postimg.org/4x6gx7lyv/twitter.png" />
<meta property="og:description" content="Client-side contract tools for viewing and creating OpenBazaar contracts. Compatibility with CommonAccord API for the creation of legally enforceable contracts." />

<link rel="shortcut icon" href="assets/img/favicon.png">
<link rel="stylesheet" href="assets/css/bootstrap.css" />
<link rel="stylesheet" href="assets/css/fonts.css" />

</head>

<body>


<!-- Style data -->
<style>
	.strokeme
	{
	color: black;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	}
	.wordwrap {
	white-space: pre-wrap;      /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap;     /* Opera 7 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* IE */
	}
	.sample-show-hide {
	  padding:10px;
	  border:1px solid black;
	  background:white;
	}
	.
	{
	cursor: auto;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=);
	background-attachment: scroll;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	}
</style>

<!-- App and Controller -->
<div ng-app="part1" ng-controller="Working">

<!-- Navbar -->
<div class="navbar navbar-default">

	<a href="https://github.com/drwasho/OB-Common-Accord"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" ></a>

	<div class="navbar-header">

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="navbar-brand" href="https://openbazaar.org" target="_blank">OpenBazaar</a>

	</div>

	<div class="navbar-collapse collapse navbar-responsive-collapse">

		<ul class="nav navbar-nav">
			<li><a href="#" ng-click="home()">Home</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Physical Goods Contract <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class="dropdown-header">Stages</li>
					<li><a href="#" ng-click="toggle1()">1. <b>Merchant:</b>  Create contract</a></li>
					<li><a href="#" ng-click="toggle2()">2. <b>Buyer:</b>  Buy contract</a></li>
					<li><a href="#" ng-click="toggle3()">3. <b>Notary:</b>  Notarise contract</a></li>
					<li><a href="#" ng-click="toggle4()">4. <b>Buyer:</b>  Fund escrow</a></li>
					<li><a href="#" ng-click="toggle5()">5. <b>Merchant:</b>  Ship item</a></li>
					<li><a href="#" ng-click="toggle6()">6. <b>Buyer:</b>  Release funds to merchant</a></li>
				</ul>
			</li>
		</ul>

	</div>

</div>

<div class="container">
<div class="container">

<!-- Jumbotron -->
<div class="row">
	<div class="jumbotron" style="background: url('assets/img/background4.jpg') no-repeat center center;">
		<h1 class="strokeme" style="color:white;">OpenBazaar Contract Tools</h1>
		<h3 class="strokeme" style="color:white;">A Beautiful Tool to View and Create <i>OpenBazaar</i> Ricardian Contracts.</h3>
		<h4 class="strokeme" style="color:white;">For testing purposes only!</h4>
		<br />
		<br />
		<br />
	</div>
</div>

<div ng-show="peek">

	<!-- Introduction: General -->
	<div class="row">

		<h1 style="font-size:48px"><i>OpenBazaar</i> Contract Tools</h1>
		<br />
		<h2 >What is this?</h2>
		<hr>
		<p>Client-side tools created with AngularJS to parse <i>OpenBazaar</i> Ricardian Contracts formatted in JSON, displaying them in stylish HTML (twitter bootstrap, responsive design), and also automagically populate the fields of <i>CommonAccord's</i> legally enforceable escrow contract template.</p>
		<p>Please note that this is for <b>testing only</b>, using a yet unimplemented version of the <i>OpenBazaar</i> contract schema. It is also an unfinished tool, so do not expect that anything your create here is legally enforceable... neither is it legal advice. Always consult legal experts.</p>
		<br />

	</div>

</div>

<!-- ############################## -->
<!-- ## Contract Generator Tools ## -->
<!-- ############################## -->

<!-- # 1. Create Contract # -->
<div ng-show="peek1">

	<!-- Introduction: Create Contract -->
	<div class="row">

		<h1 style="font-size:48px"><i>OpenBazaar</i> Contract Tools</h1>
		<br />
		<h2>How to use</h2>
		<hr>
		<p>Profound stuff here.</p>
		<br />

	</div>

	<div class="row">
		<h2>Create an <i>OpenBazaar</i> Ricardian Contract</h2>
		<hr>
	</div>

	<div ng-keyup="start()">

	<div class="row">
		<div class="well bs-component col-lg-12">
			<form class="form-horizontal">
			<fieldset>


				<h3>Stage 01: The Merchant</h3>
				<hr />

				<h4>Item Details</h4>

				<!-- Item Title -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Title:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_title" ng-model="item_title" autocomplete="off" placeholder="What is your item called?" >
					</div>
				</div>

				<!-- Item Description -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Description:</label>
					</div>
					<div class="col-lg-9">
						<textarea type="text" class="form-control " id="item_description" ng-model="item_description" autocomplete="off" placeholder="Tell us about your item"  rows="4"></textarea>
					</div>
				</div>

				<!-- Item Price -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Price (BTC):</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_price" ng-model="item_price" autocomplete="off" placeholder="Price of the item in Bitcoin" >
					</div>
				</div>

				<!-- Item Price Fiat -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Price (fiat):</label>
					</div>
					<div class="col-lg-6">
						<input type="text" class="form-control" id="item_fiat_price" ng-model="item_fiat_price" autocomplete="off" placeholder="Price in fiat?" >
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="item_fiat_xe" ng-model="item_fiat_xe" autocomplete="off" placeholder="What is the currency code?" >
					</div>
				</div>

				<br />

				<!-- Item Image1 -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Item Image 1:</label>
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control " id="item_image1" ng-model="item_image1" autocomplete="off" placeholder="Enter direct URL here" >
					</div>
					<div class="col-lg-5">
						<input type="text" class="form-control " id="item_image_hash1" ng-model="item_image_hash1" autocomplete="off" placeholder="Enter SHA256 hash of the image" >
					</div>
				</div>

				<!-- Item Image2 -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Item Image 2:</label>
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control " id="item_image2" ng-model="item_image2" autocomplete="off" placeholder="Enter direct URL here" >
					</div>
					<div class="col-lg-5">
						<input type="text" class="form-control " id="item_image_hash2" ng-model="item_image_hash2" autocomplete="off" placeholder="Enter SHA256 hash of the image" >
					</div>
				</div>

				<!-- Item Image3 -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Item Image 3:</label>
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control " id="item_image3" ng-model="item_image3" autocomplete="off" placeholder="Enter direct URL here" >
					</div>
					<div class="col-lg-5">
						<input type="text" class="form-control " id="item_image_hash3" ng-model="item_image_hash3" autocomplete="off" placeholder="Enter SHA256 hash of the image" >
					</div>
				</div>

				<!-- Item Image4 -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Item Image 4:</label>
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control " id="item_image4" ng-model="item_image4" autocomplete="off" placeholder="Enter direct URL here" >
					</div>
					<div class="col-lg-5">
						<input type="text" class="form-control " id="item_image_hash4" ng-model="item_image_hash4" autocomplete="off" placeholder="Enter SHA256 hash of the image" >
					</div>
				</div>

				<!-- Item Image5 -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Item Image 5:</label>
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control " id="item_image5" ng-model="item_image5" autocomplete="off" placeholder="Enter direct URL here" >
					</div>
					<div class="col-lg-5">
						<input type="text" class="form-control " id="item_image_hash5" ng-model="item_image_hash5" autocomplete="off" placeholder="Enter SHA256 hash of the image" >
					</div>
				</div>

				<br />

				<!-- Item Condition -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Item Condition:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_condition" ng-model="item_condition" autocomplete="off" placeholder="What is the item's condition?" >
					</div>
				</div>

				<!-- Item Quantity -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Quantity:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_quantity" ng-model="item_quantity" autocomplete="off" placeholder="How many units of the item are you selling in this contract?" >
						<span class="help-block"><b>Note:</b> the contract the price is to purchase the total number of units of the item.</span>
					</div>
				</div>

				<!-- Item Keywords -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Keywords:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_keywords" ng-model="item_keywords" autocomplete="off" placeholder="Separate keywords with a comma!" >
					</div>
				</div>

				<!-- Item Region and Delivery -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Region and Estimated Delivery:</label>
					</div>
					<div class="col-lg-5">
						<input type="text" class="form-control " id="item_region" ng-model="item_region" autocomplete="off" placeholder="Regions you can ship to" >
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control " id="item_estdelivery" ng-model="item_estdelivery" autocomplete="off" placeholder="What is the estimated delivery time?" >
					</div>
				</div>

				<!-- Expiration date -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Contract Expiration Date:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="metadata_expdate" ng-model="metadata_expdate" autocomplete="off" placeholder="When is this contract invalid?" >
					</div>
				</div>

				<br />

				<h4>The Merchant</h4>

				<!-- MERCHANT -->
				<!-- Guid -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Merchant GUID:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="merchant_guid" ng-model="merchant_guid"  autocomplete="off" placeholder="Should be lots of numbers" >
					</div>
				</div>

				<!-- Handle -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Merchant Handle:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="merchant_handle" ng-model="merchant_handle"  autocomplete="off" placeholder="(e.g. drwasho)" >
					</div>
				</div>

				<!-- Legal Address -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Legal Address:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="merchant_legaladdress" ng-model="merchant_legaladdress"  autocomplete="off" placeholder="For CommonAccord escrow contracts only" >
					</div>
				</div>

				<!-- PGP Public Key -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">PGP Pubkey:</label>
					</div>
					<div class="col-lg-9">
						<textarea type="text" class="form-control " id="merchant_pgp_pubkey" ng-model="merchant_pgp_pubkey" autocomplete="off" placeholder="Enter PGP public key" rows="4"></textarea>
					</div>
				</div>

				<!-- Bitcoin Public Key -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Bitcoin Pubkey:</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="merchant_secp256k1_pubkey" ng-model="merchant_secp256k1_pubkey"  autocomplete="off" placeholder="Uncompressed pubkey; will create multisig escrow" >
					</div>
				</div>

				<br />

				<!-- #### MERCHANT Digital Signatures #### -->
				<h4>Digital Signatures</h4>

				<label class="control-label">Merchant Digital Signature</label>

				<p></p>

				<!-- This is what you're supposed to digitally sign -->
				<span class="help-block">Digitally sign what appears below with your PGP key!</span>
				<p></p>
				<textarea class="wordwrap form-control" id="merchanthash" rows="6" disabled="">{{newcontract.stage01_merchant.genesis}}</textarea>
				<br />

				<!-- Enter Digital Signature -->
				<span class="help-block">By entering your digital signature, you are declaring your intention to <b>sell</b> the item in this contract!</span>
				<textarea class="form-control" id="merchant_digisig" ng-model="merchant_sig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
				<br />

				<div class="row">
					<div class="col-lg-6">
						<span class="help-block">Merchant's Public Key</span>
						<pre class="wordwrap" id="stage01_pubkey" style="font-size: 10px">{{newcontract.stage01_merchant.genesis.merchant.pubkeys.pgp}}</pre>
					</div>
					<div class="col-lg-6">
						<span class="help-block">Merchant's Digital Signature</span>
						<pre class="wordwrap" id="stage01_merchantsig" style="font-size: 10px">{{newcontract.stage01_merchant.signatures.pgp}}</pre>
					</div>
				</div>

				<p></p>

			</div> <!-- End of Start() -->

			<div>
				<p></p>
				<button type="button" ng-click="stage01_verify()" class="btn btn-primary" >Verify</button>
				<br />
				<!-- TEMP: Check of success or failure -->
				<h4>{{check}}</h4>
			</div>

			</fieldset> <!-- End of Fieldset -->
			</form> <!-- End of Form -->
		</div> <!-- End of Well Component -->
	</div> <!-- End of Row -->

	<div class="row">

		<h2><i>OpenBazaar</i> Raw Contract</h2>
		<hr>
		<pre id="createcontract" ng-model="createcontract" style="background-color:white;">{{display1}}</pre>

	</div>

</div> <!-- End of Peek 1 -->

<!-- # 2. Buy Contract # -->
<div ng-show="peek2">

	<!-- Introduction: Buy Contract -->
	<div class="row">

		<h1 style="font-size:48px"><i>OpenBazaar</i> Contract Tools</h1>
		<br />
		<h2>How to use</h2>
		<hr>
		<p>Profound stuff here.</p>
		<br />

	</div>

	<div class="row">
		<h2>Buy an <i>OpenBazaar</i> Ricardian Contract</h2>
		<hr>
	</div>

	<div ng-keyup="start2()">

	<div class="row"> <!-- Import -->

		<div class="well bs-component col-lg-12">
		<form class="form-horizontal">
		<fieldset>

			<div>

				<h3>Import Contract</h3>

				<!-- Import contract -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Stage 01 Contract:</label>
					</div>
					<div class="col-lg-9">
						<textarea type="text" id="buycontract" ng-model="buycontract" class="form-control" autocomplete="off" placeholder="Enter in the contract you want to purchase" rows="12"></textarea>
						<br />
						<span class="help-block" style="font-size:12px">Hash of the contract you're importing</span>
						<input type="text" class="form-control wordwrap" value="{{buyercontract.stage02_buyer.buyer.contract_to_buy}}" autocomplete="off" disabled="" />
					</div>
				</div>

			</div>

		</fieldset>
		</form>
		</div>

	</div>

    <!-- Contract Viewer -->
    <div ng-show="view2">
        <div class="row">

            <div class="well bs-component col-lg-12" style="background-color:white;">

                <div class="row">
                    <div class="col-lg-6">
                        <h1 style="text-align: left;">{{buyercontract.stage01_merchant.genesis.item_data.title}}</h1>
                        <h4>By <span style="color:blueviolet; font-size:23px">{{buyercontract.stage01_merchant.genesis.merchant.handle}}</span></h4>
                    </div>
                    <div class="col-lg-6">
                        <h1 style="text-align: right; color: green;">{{buyercontract.stage01_merchant.genesis.item_data.price.btc}} BTC</h1>
                        <h1 style="text-align: right; color: red; font-size: 18px">({{buyercontract.stage01_merchant.genesis.item_data.price.fiat.price}} {{buyercontract.stage01_merchant.genesis.item_data.price.fiat.currency}})</h1>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-6">
                        <div style="width: 800px; display: table-cell; text-align: center; vertical-align: middle; background-repeat: no-repeat; border: 1px solid">
                            <img ng-src="{{clickedimage}}" style="width: 100%"/>
                        </div>
                        <p></p>
                        <img ng-src="{{buyercontract.stage01_merchant.genesis.item_data.images.image1.image_link1}}" ng-click="click1()" style="width: 15%; border: 1px solid; cursor: pointer" />
                        <img ng-src="{{buyercontract.stage01_merchant.genesis.item_data.images.image2.image_link2}}" ng-click="click2()" style="width: 15%; border: 1px solid; cursor: pointer" />
                        <img ng-src="{{buyercontract.stage01_merchant.genesis.item_data.images.image3.image_link3}}" ng-click="click3()" style="width: 15%; border: 1px solid; cursor: pointer" />
                        <img ng-src="{{buyercontract.stage01_merchant.genesis.item_data.images.image4.image_link4}}" ng-click="click4()" style="width: 15%; border: 1px solid; cursor: pointer" />
                        <img ng-src="{{buyercontract.stage01_merchant.genesis.item_data.images.image5.image_link5}}" ng-click="click5()" style="width: 15%; border: 1px solid; cursor: pointer" />
                    </div>
                    <div class="col-lg-6">
                        <h3>Description: </h3>
                        <h4>{{buyercontract.stage01_merchant.genesis.item_data.description}}</h4>
                        <br />
                    </div>
                </div>

            </div>

        </div>
    </div>

	<div class="row">
		<div class="well bs-component col-lg-12">
			<form class="form-horizontal">
				<fieldset>

						<h3>Stage 02: The Buyer</h3>
						<br />

						<!-- ## Buyer ## -->
						<div>

							<h4>Buyer Details</h4>

							<!-- Guid -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Buyer GUID:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="buyer_guid" ng-model="buyer_guid"  autocomplete="off" placeholder="Should be lots of numbers" >
								</div>
							</div>

							<!-- Handle -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Buyer Handle:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="buyer_handle" ng-model="buyer_handle"  autocomplete="off" placeholder="(e.g. drwasho)" >
								</div>
							</div>

							<!-- Legal Address -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Legal Address:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="buyer_legaladdress" ng-model="buyer_legaladdress"  autocomplete="off" placeholder="For CommonAccord escrow contracts only" >
								</div>
							</div>

							<!-- PGP Public Key -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">PGP Pubkey:</label>
								</div>
								<div class="col-lg-9">
									<textarea type="text" class="form-control " id="buyer_pgp_pubkey" ng-model="buyer_pgp_pubkey" autocomplete="off" placeholder="Enter PGP public key" rows="4"></textarea>
								</div>
							</div>

							<!-- Bitcoin Public Key -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Bitcoin Pubkey:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="buyer_secp256k1_pubkey" ng-model="buyer_secp256k1_pubkey"  autocomplete="off" placeholder="Uncompressed pubkey; will create multisig escrow" >
								</div>
							</div>

							<br />

						</div>
						<!-- End of buyer div -->

						<br />

						<!-- #### BUYER Digital Signatures #### -->
						<h4>Digital Signatures</h4>


						<label class="control-label">Buyer Digital Signature</label>

						<p></p>

						<!-- This is what you're supposed to digitally sign -->
						<span class="help-block">Digitally sign what appears below with your PGP key!</span>
						<p></p>
						<textarea class="wordwrap form-control" id="buyerhash" disabled="" rows="6">{{buyercontract.stage02_buyer.buyer}}</textarea> <!-- Stage 01 Merchant part to either digitally sign, or hash. -->
						<br />

						<!-- Enter Digital Signature -->
						<span class="help-block">By entering your digital signature, you are declaring your intention to <b>buy</b> the item in this contract!</span>
						<textarea class="form-control" id="buyer_digisig" ng-model="buyer_sig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
						<br />

						<div class="row">
							<div class="col-lg-6">
								<span class="help-block">Buyer's Public Key</span>
								<pre class="wordwrap" id="stage02_pubkey" style="font-size: 10px">{{buyercontract.stage02_buyer.buyer.pubkeys.pgp}}</pre>
							</div>
							<div class="col-lg-6">
								<span class="help-block">Buyer's Digital Signature</span>
								<pre class="wordwrap" id="stage02_buyersig" style="font-size: 10px">{{buyercontract.stage02_buyer.signatures.pgp}}</pre>
							</div>
						</div>

						<p></p>

					</div> <!-- End of start2() -->

					<div>
						<p></p>
						<button type="button" ng-click="stage02_verify()" class="btn btn-primary" >Verify</button>
						<br />
						<!-- TEMP: Check of success or failure -->
						<h4>{{check2}}</h4>
					</div>

				</fieldset>
			</form>
		</div>
	</div>

	<div class="row">

		<h2><i>OpenBazaar</i> Raw Contract</h2>
		<hr>
		<pre id="createcontract" ng-model="debuyercontract" style="background-color:white;">{{display2}}</pre>

	</div>

</div> <!-- End of Peek 2 -->

<!-- # 3. Notarise Contract # -->
<div ng-show="peek3">

	<!-- Introduction: Notarise Contract -->
	<div class="row">

		<h1 style="font-size:48px"><i>OpenBazaar</i> Contract Tools</h1>
		<br />
		<h2>How to use</h2>
		<hr>
		<p>Profound stuff here.</p>
		<br />

	</div>

	<div class="row">
		<h2>Notarise an <i>OpenBazaar</i> Ricardian Contract</h2>
		<hr>
	</div>

    <div ng-keyup="start3()">

	<div class="row">
		<div class="well bs-component col-lg-12">
			<form class="form-horizontal">
				<fieldset>

                    <h3>Stage 03: The Notary</h3>
                    <hr />

                    <!-- Import -->
                    <div>

                        <h4>Reference Contract</h4>

                        <!-- Import contract -->
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">Stage 03 Contract</label>
                            </div>
                            <div class="col-lg-9">
                                <textarea type="text" id="notarisecontract" ng-model="notarisecontract" class="form-control" autocomplete="off" placeholder="Enter in the contract you want to notarise" rows="12"></textarea>
                                <br />
                                <span class="help-block" style="font-size:12px">Hash of the contract you're notarising</span>
                                <input type="text" class="form-control wordwrap" value="{{notarycontract.stage03_notary.notary.contract_to_notarise}}" autocomplete="off" disabled="" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <!-- ## Notary ## -->
                    <div>

                        <h4>Notary Details</h4>

                        <!-- Guid -->
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">Notary GUID:</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control " id="notary_guid" ng-model="notary_guid"  autocomplete="off" placeholder="Should be lots of numbers" >
                            </div>
                        </div>

                        <!-- Handle -->
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">Notary Handle:</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control " id="notary_handle" ng-model="notary_handle"  autocomplete="off" placeholder="(e.g. drwasho)" >
                            </div>
                        </div>

                        <!-- Legal Address -->
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">Legal Address:</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control " id="notary_legaladdress" ng-model="notary_legaladdress"  autocomplete="off" placeholder="For CommonAccord escrow contracts only" >
                            </div>
                        </div>

                        <!-- PGP Public Key -->
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">PGP Pubkey:</label>
                            </div>
                            <div class="col-lg-9">
                                <textarea type="text" class="form-control " id="notary_pgp_pubkey" ng-model="notary_pgp_pubkey" autocomplete="off" placeholder="Enter PGP public key" rows="4"></textarea>
                            </div>
                        </div>

                        <!-- Bitcoin Public Key -->
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">Bitcoin Pubkey:</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control " id="notary_secp256k1_pubkey" ng-model="notary_secp256k1_pubkey"  autocomplete="off" placeholder="Uncompressed pubkey; will create multisig escrow" >
                            </div>
                        </div>

                        <br />

                    </div> <!-- End of Buyer Details Div -->

                    <!-- Escrow -->
                    <div>

                        <h4>Multisignature Escrow Address</h4>

                        <!-- Multisig address -->
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">Multisignature Address:</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" id="multisigaddr" ng-model="multisigaddr" class="form-control" autocomplete="off" placeholder="Enter the multisignature address" />
                            </div>
                        </div>

                        <!-- Multisig redemption script -->
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">Multisignature Redemption Script:</label>
                            </div>
                            <div class="col-lg-9">
                                <textarea type="text" id="multisigredeem" ng-model="multisigredeem" class="form-control" autocomplete="off" placeholder="Enter the multisignature address" rows="6"></textarea>
                            </div>
                        </div>

                    </div> <!-- End of Escrow Details Div -->

                    <br />

                    <!-- #### Notary Digital Signatures #### -->
                    <h4>Digital Signatures</h4>

                    <div>
                        <label class="control-label">Notary Digital Signature</label>

                        <p></p>

                        <!-- This is what you're supposed to digitally sign -->
                        <span class="help-block">Digitally sign what appears below with your PGP key!</span>
                        <p></p>
                        <pre class="wordwrap" id="notaryhash">{{notarycontract.stage03_notary.notary}}</pre> <!-- Stage 02 Buyer part to either digitally sign, or hash. -->
                        <br />

                        <!-- This is the hash of Stage 02 Buyer Part -->
                        <p><span class="help-block">SHA256 hash of "Stage 02: buyer Part" (i.e. this is a tamper-proof statement of what you want to <b>notarise</b>)</span></p>
                        <input class="form-control" type="text" value="{{stage03hash}}" disabled="">
                        <br />

                        <!-- Enter Digital Signature -->
                        <span class="help-block">By entering your digital signature, you are declaring your intention to <b>notarise</b> this contract!</span>
                        <textarea class="form-control" id="notary_digisig" ng-model="notary_sig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
                        <br />

                        <div class="row">
                            <div class="col-lg-6">
                                <span class="help-block">Notary's Public Key</span>
                                <pre class="wordwrap" id="stage03_pubkey" style="font-size: 10px">{{notarycontract.stage03_notary.notary.pubkeys.pgp}}</pre>
                            </div>
                            <div class="col-lg-6">
                                <span class="help-block">Buyer's Digital Signature</span>
                                <pre class="wordwrap" id="stage03_notarysig" style="font-size: 10px">{{notarycontract.stage03_notary.signatures.pgp}}</pre>
                            </div>
                        </div>

                        <p></p>

                    </div>

        </div>

					<div>
						<p></p>
						<button type="button" ng-click="stage03_verify()" class="btn btn-primary" >Verify</button>
						<br />
						<!-- TEMP: Check of success or failure -->
						<h4>{{check3}}</h4>
					</div>

				</fieldset>
			</form>
		</div>
	</div> <!-- End of Start3() -->

	<div class="row">

		<h2><i>OpenBazaar</i> Raw Contract</h2>
		<hr>
		<pre id="createcontract" ng-model="debuyercontract" style="background-color:white;">{{display3}}</pre>

	</div>

</div> <!-- End of Peek 3 -->

<!-- # 4. Fund Escrow Contract # -->
<div ng-show="peek4">

	<!-- Introduction: Fund Escrow Contract -->
	<div class="row">

		<h1 style="font-size:48px"><i>OpenBazaar</i> Contract Tools</h1>
		<br />
		<h2>How to use</h2>
		<hr>
		<p>Profound stuff here.</p>
		<br />

	</div>

	<div class="row">
		<h2>Fund a Multisignature Escrow Address</h2>
		<hr>
	</div>

	<div class="row">
		<div class="well bs-component col-lg-12">
			<form class="form-horizontal">
				<fieldset>

					<div ng-keyup="start4()">

						<h3>Stage 04: Buyer Funds Escrow</h3>
						<hr />

						<!-- Escrow Funding Evidence -->
						<div>

							<h4>Reference Contract</h4>

							<!-- Import contract -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label"><b>Stage 03 Contract:</b></label>
								</div>
								<div class="col-lg-9">
									<textarea type="text" id="triplesignedcontract" ng-model="triplesignedcontract" class="form-control" autocomplete="off" placeholder="Paste in the OpenBazaar contract" rows="12"></textarea>
									<br />
									<span class="help-block" style="font-size:12px">Hash of the contract that you are funding escrow for</span>
									<input type="text" class="form-control wordwrap" value="{{escrowfund.stage04_escrowfunding.funding_evidence.contract_to_fund_escrow}}" autocomplete="off" disabled="" />
								</div>
							</div>

							<br />
							<h4>Fund Escrow and Indicate Shipping Address</h4>

							<!-- Transaction Evidence -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Transaction ID:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="txid" ng-model="txid"  autocomplete="off" placeholder="Paste in the transaction ID" >
									<span class="help-block" style="font-size:12px">This is the reference to the transaction demonstrating that the multisignature escrow address, indicated in <b>Stage 03: Notary</b> has been funded appropriately.</span>
								</div>
							</div>

							<!-- Ship To This Address -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Ship to Address:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="ship_to_address" ng-model="ship_to_address"  autocomplete="off" placeholder="Paste in a shipping address." />
									<span class="help-block" style="font-size:12px">What address should the merchant ship the item to?</span>
								</div>
							</div>


						</div>

						<!-- Buyer Digital Signature -->
						<div>

							<h4>Digital Signature</h4>

							<!-- This is what you're supposed to digitally sign -->
							<span class="help-block">Digitally sign what appears below with your PGP key!</span>
							<p></p>
							<pre class="wordwrap" id="escrowhash">{{escrowfund.stage04_escrowfunding.funding_evidence}}</pre>
							<br />

							<!-- Enter Digital Signature -->
							<span class="help-block">By entering your digital signature, you are declaring you have <b>funded</b> this contract and indicated a shipping address for the item to be delivered!</span>
							<textarea class="form-control" id="buyer_escrow_digisig" ng-model="buyer_escrow_digisig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
							<br />

							<div class="row">
								<div class="col-lg-6">
									<span class="help-block">Buyer's Public Key</span>
									<pre class="wordwrap" id="stage04_pubkey" style="font-size: 10px">{{escrowfund.stage02_buyer.buyer.pubkeys.pgp}}</pre>
								</div>
								<div class="col-lg-6">
									<span class="help-block">Buyer's Digital Signature</span>
									<pre class="wordwrap" id="stage04_buyersig" style="font-size: 10px">{{escrowfund.stage04_escrowfunding.signatures.pgp}}</pre>
								</div>
							</div>

							<p></p>

						</div>

						<br />

					</div> <!-- End of start4() -->

					<div>
						<p></p>
						<button type="button" ng-click="stage04_verify()" class="btn btn-primary" >Verify</button>
						<br />
						<!-- TEMP: Check of success or failure -->
						<h4>{{check4}}</h4>
					</div>

				</fieldset>
			</form>
		</div>
	</div>

	<div class="row">

		<h2><i>OpenBazaar</i> Raw Contract</h2>
		<hr>
		<pre id="escrowfundcontract" ng-model="escrowfundcontract" style="background-color:white;">{{display4}}</pre>

	</div>

</div> <!-- End of Peek 4 -->

<!-- # 5. Ship Item # -->
<div ng-show="peek5">

	<!-- Introduction: Ship Item -->
	<div class="row">

		<h1 style="font-size:48px"><i>OpenBazaar</i> Contract Tools</h1>
		<br />
		<h2>How to use</h2>
		<hr>
		<p>Profound stuff here.</p>
		<br />

	</div>

	<div class="row">
		<h2>Ship an Item</h2>
		<hr>
	</div>

	<div class="row">
		<div class="well bs-component col-lg-12">
			<form class="form-horizontal">
				<fieldset>

					<div ng-keyup="start5()">

						<h3>Stage 05: Merchant Ships and Item</h3>
						<hr />

						<!-- Escrow Funding Evidence -->
						<div>

							<h4>Reference Contract</h4>

							<!-- Import contract -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label"><b>Stage 04 Contract</b></label>
								</div>
								<div class="col-lg-9">
									<textarea type="text" id="stage04contract" ng-model="stage04contract" class="form-control" autocomplete="off" placeholder="Paste in the OpenBazaar contract" rows="12"></textarea>
									<br />
									<span class="help-block" style="font-size:12px">Hash of the contract that you are shipping the item for</span>
									<input type="text" class="form-control wordwrap" value="{{shipping.stage05_shipment.shipment.contract_for_shipping}}" autocomplete="off" disabled="" />
								</div>
							</div>

							<br />

							<h4>Shipping Details</h4>

							<!-- Shipping details -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Shipper:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="shipper_id" ng-model="shipper_id"  autocomplete="off" placeholder="What shipping company did you use?" >
									<span class="help-block" style="font-size:12px">What is the name of the shipping company?</span>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Shipper Legal Address:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="shipper_addr" ng-model="shipper_addr"  autocomplete="off" placeholder="What is the shipper's legal address? (CommonAccord)" >
									<span class="help-block" style="font-size:12px">What is the legal address of the shipping company?</span>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Shipment Tracking Number:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="shipper_tracker" ng-model="shipper_tracker"  autocomplete="off" placeholder="What is the tracking number of the item?" >
									<span class="help-block" style="font-size:12px">What is the tracking number of the item shipped?</span>
								</div>
							</div>

							<br />

							<h4>Release funds to merchant</h4>

							<!-- Tx details -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Signed Transaction:</label>
								</div>
								<div class="col-lg-9">
									<textarea type="text" class="form-control " id="merchant_signed_tx" ng-model="merchant_signed_tx"  autocomplete="off" placeholder="Paste in signed transaction (Hex)." rows="8"></textarea>
									<span class="help-block" style="font-size:12px">A signed transaction (in Hex format) releasing funds from the multisig to the merchant (assuming that the shippment goes well and the buyer is satisfied).</span>
								</div>
							</div>

						</div>

						<!-- Buyer Digital Signature -->
						<div>

							<h4>Digital Signature</h4>

							<!-- This is what you're supposed to digitally sign -->
							<span class="help-block">Digitally sign what appears below with your PGP key!</span>
							<p></p>
							<pre class="wordwrap" id="shippinghash">{{shipping.stage05_shipment.shipment}}</pre> <!-- Stage 02 Buyer part to either digitally sign, or hash. -->
							<br />

							<!-- Enter Digital Signature -->
							<span class="help-block">By entering your digital signature, you are declaring that you have <b>shipped the item</b> in this contract!</span>
							<textarea class="form-control" id="merchant_shipping_digisig" ng-model="merchant_shipping_digisig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
							<br />

							<!-- Signature Verification -->
							<div class="row">
								<div class="col-lg-6">
									<span class="help-block">Merchant's Public Key</span>
									<pre class="wordwrap" id="stage05_pubkey" style="font-size: 10px">{{shipping.stage01_merchant.genesis.merchant.pubkeys.pgp}}</pre>
								</div>
								<div class="col-lg-6">
									<span class="help-block">Merchant's Digital Signature</span>
									<pre class="wordwrap" id="stage05_buyersig" style="font-size: 10px">{{shipping.stage05_shipment.signatures.pgp}}</pre>
								</div>
							</div>

							<p></p>

						</div>

						<br />

					</div> <!-- End of start4() -->

					<div>
						<p></p>
						<button type="button" ng-click="stage05_verify()" class="btn btn-primary" >Verify</button>
						<br />
						<!-- TEMP: Check of success or failure -->
						<h4>{{check5}}</h4>
					</div>

				</fieldset>
			</form>
		</div>
	</div>

	<div class="row">

		<h2><i>OpenBazaar</i> Raw Contract</h2>
		<hr>
		<pre id="shippingcontract" ng-model="shippingcontract" style="background-color:white;">{{display5}}</pre>

	</div>

</div> <!-- End of Peek 5 -->

<!-- # 6. Release funds from escrow to merchant # -->
<div ng-show="peek6">

	<!-- Introduction: Release funds -->
	<div class="row">

		<h1 style="font-size:48px"><i>OpenBazaar</i> Contract Tools</h1>
		<br />
		<h2>How to use</h2>
		<hr>
		<p>Profound stuff here.</p>
		<br />

	</div>

	<div class="row">
		<h2>Release Funds to the Merchant</h2>
		<hr>
	</div>

	<div class="row">
		<div class="well bs-component col-lg-12">
			<form class="form-horizontal">
				<fieldset>

					<div ng-keyup="start6()">

						<h3>Stage 06: Buyer releases funds from escrow to merchant</h3>
						<hr>

						<!-- Escrow Funding Evidence -->
						<div>

							<h4>Reference Contract</h4>

							<!-- Import contract -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label"><b>Stage 05 Contract</b></label>
								</div>
								<div class="col-lg-9">
									<textarea type="text" id="stage05contract" ng-model="stage05contract" class="form-control" autocomplete="off" placeholder="Paste in the OpenBazaar contract" rows="12"></textarea>
									<br />
									<span class="help-block" style="font-size:12px">Hash of the contract that you are shipping the item for</span>
									<input type="text" class="form-control wordwrap" value="{{release.stage06_release.release_funds.contract_to_release_funds}}" autocomplete="off" disabled="" />
								</div>
							</div>

							<br />

							<h4>Complete Contract</h4>

							<!-- Shipping details -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Status:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="contractstatus" ng-model="contractstatus"  autocomplete="off" placeholder="What is the status of the contract? Complete or Disputed?" />
									<span class="help-block" style="font-size:12px">If the item arrived and everything looks good, set the status as 'Complete'. If there is a problem, set the status as 'Disputed'.</span>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Message:</label>
								</div>
								<div class="col-lg-9">
									<textarea type="text" class="form-control " id="message" ng-model="message"  autocomplete="off" placeholder="Do you have a message for the merchant?" rows="3" ></textarea>
									<span class="help-block" style="font-size:12px">Leave a simple message for the merchant..</span>
								</div>
							</div>

							<br />

							<h4>Release Funds to Merchant</h4>

							<!-- 1 of 3 Tx details -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Signed Transaction (1 of 3; min. 2 required):</label>
								</div>
								<div class="col-lg-9">
									<span class="help-block" style="font-size:12px">This is a signed transaction releasing funds from the multisignature escrow address to the merchant. It has 1 out of the minimum of 2 signatures required. Sign this transaction with your Bitcoin key, broadcast it to the network and paste it below.</span>
									<textarea class="form-control wordwrap" rows="6" disabled="">{{release.stage05_shipment.shipment.releasefunds.signed_tx}}</textarea>
								</div>
							</div>

							<!-- 2 of 3 Tx details -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Signed Transaction (2 of 3; min. 2 required):</label>
								</div>
								<div class="col-lg-9">
									<textarea type="text" class="form-control " id="buyer_signed_tx" ng-model="buyer_signed_tx"  autocomplete="off" placeholder="Paste in signed transaction (Hex)." rows="8"></textarea>
									<span class="help-block" style="font-size:12px">A signed transaction (in Hex format) releasing funds from the multisig to the merchant (assuming that the shippment goes well and the buyer is satisfied).</span>
								</div>
							</div>

							<!-- TxID -->
							<div class="form-group">
								<div class="col-lg-3">
									<label class="control-label">Transaction ID:</label>
								</div>
								<div class="col-lg-9">
									<input type="text" class="form-control " id="release_txid" ng-model="release_txid" autocomplete="off" placeholder="Paste in the transaction ID for the transaction releasing funds back to the merchant." />
									<span class="help-block" style="font-size:12px">If the contract is 'Complete', specific the transaction ID that gives evidence to the release of funds from the multisignature escrow address to the merchant.</span>
								</div>
							</div>

						</div>

						<!-- Buyer Digital Signature -->
						<div>

							<h4>Digital Signature</h4>

							<!-- This is what you're supposed to digitally sign -->
							<span class="help-block">Digitally sign what appears below with your PGP key!</span>
							<p></p>
							<textarea class="form-control wordwrap" id="releasehash" disabled="" rows="6">{{release.stage06_release.release_funds}}</textarea> <!-- Stage 02 Buyer part to either digitally sign, or hash. -->
							<br />

							<!-- Enter Digital Signature -->
							<span class="help-block">By entering your digital signature, you are declaring that you have <b>shipped the item</b> in this contract!</span>
							<textarea class="form-control" id="buyer_release_digisig" ng-model="buyer_release_digisig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
							<br />

							<!-- Signature Verification -->
							<div class="row">
								<div class="col-lg-6">
									<span class="help-block">Buyer's Public Key</span>
									<pre class="wordwrap" id="stage06_pubkey" style="font-size: 10px">{{release.stage02_buyer.buyer.pubkeys.pgp}}</pre>
								</div>
								<div class="col-lg-6">
									<span class="help-block">Merchant's Digital Signature</span>
									<pre class="wordwrap" id="stage06_buyersig" style="font-size: 10px">{{release.stage06_release.signatures.pgp}}</pre>
								</div>
							</div>

							<p></p>

						</div>

						<br />

					</div> <!-- End of start6() -->

					<div>
						<p></p>
						<button type="button" ng-click="stage06_verify()" class="btn btn-primary" >Verify</button>
						<br />
						<!-- TEMP: Check of success or failure -->
						<h4>{{check6}}</h4>
					</div>

				</fieldset>
			</form>
		</div>
	</div>

	<div class="row">

		<h2><i>OpenBazaar</i> Raw Contract</h2>
		<hr>
		<pre id="releasecontract" ng-model="releasecontract" style="background-color:white;">{{display6}}</pre>

	</div>

</div> <!-- End of Peek 6 -->

<hr>

<!-- Footer Image -->
<div class="row">
	<div class="col-lg-12">
		<img src="assets/img/OBCA.png" style="width:100%" />
	</div>
</div>

<!-- End of second div container -->
</div>
</div>
</div>

<!-- Load my crap faster -->
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/jquery-2.1.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/sha256.js"></script>
<script src="assets/js/openpgp.min.js"></script>
<script src="assets/js/app.js"></script>

</body>

</html>
