<!DOCTYPE html>
<html>

<head>

<title>OpenBazaar Contract Tools</title>

<meta name="description" content="Client-side contract tools for viewing and creating OpenBazaar contracts. Compatibility with CommonAccord API for the creation of legally enforceable contracts." />

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary">
<meta name="twitter:site" content="@openbazaar">
<meta name="twitter:title" content="OpenBazaar Contract Tools">
<meta name="twitter:description" content="Client-side contract tools for viewing and creating OpenBazaar contracts. Compatibility with CommonAccord API for the creation of legally enforceable contracts.">
<meta name="twitter:creator" content="@drwasho">
<meta name="twitter:image" content="http://s21.postimg.org/4x6gx7lyv/twitter.png">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="OpenBazaar Contract Tools">
<meta itemprop="description" content="Client-side contract tools for viewing and creating OpenBazaar contracts. Compatibility with CommonAccord API for the creation of legally enforceable contracts.">
<meta itemprop="image" content="http://s21.postimg.org/4x6gx7lyv/twitter.png">

<!-- Open Graph data -->
<meta property="og:title" content="OpenBazaar Contract Tools" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://drwasho.github.io/OB-Common-Accord/" />
<meta property="og:image" content="http://s21.postimg.org/4x6gx7lyv/twitter.png" />
<meta property="og:description" content="Client-side contract tools for viewing and creating OpenBazaar contracts. Compatibility with CommonAccord API for the creation of legally enforceable contracts." />

<link rel="shortcut icon" href="assets/img/favicon.png">
<link rel="stylesheet" href="assets/css/bootstrap.css" />
<link rel="stylesheet" href="assets/css/fonts.css" />

</head>

<body>

<!-- Style data -->
<style>
	.strokeme
	{
	color: black;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	}
	.wordwrap {
	white-space: pre-wrap;      /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap;     /* Opera 7 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* IE */
	}
	.sample-show-hide {
	  padding:10px;
	  border:1px solid black;
	  background:white;
	}
	.
	{
	cursor: auto;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=);
	background-attachment: scroll;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	}
</style>

<!-- App and Controller -->
<div ng-app="part1" ng-controller="Working">

<!-- Navbar -->
<div class="navbar navbar-default">

	<div class="navbar-header">

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="navbar-brand" href="https://openbazaar.org" target="_blank">OpenBazaar</a>

	</div>

	<div class="navbar-collapse collapse navbar-responsive-collapse">

		<ul class="nav navbar-nav">
			<li><a href="#" ng-click="home()">Home</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">OpenBazaar Contracts <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class="dropdown-header">Fixed Price</li>
					<li><a href="#" ng-click="toggle1()">1. Create contract</a></li>
					<li><a href="#" ng-click="toggle2()">2. Buy contract</a></li>
					<li><a href="#" ng-click="toggle3()">3. Notarise contract</a></li>
					<li><a href="#" ng-click="toggle5()">4. Notify escrow funding</a></li>
					<li><a href="#" ng-click="toggle6()">5. Notify item shipped</a></li>
					<li><a href="#" ng-click="toggle7()">6. Create receipt</a></li>
				</ul>
			</li>
		</ul>

	</div>

</div>

<div class="container">
<div class="container">

<!-- Jumbotron -->
<div class="row">
	<div class="jumbotron" style="background: url('assets/img/background4.jpg') no-repeat center center;">
		<h1 class="strokeme" style="color:white;">OpenBazaar Contract Tools</h1>
		<h3 class="strokeme" style="color:white;">A Beautiful Tool to View and Create <i>OpenBazaar</i> Ricardian Contracts.</h3>
		<h4 class="strokeme" style="color:white;">For testing purposes only!</h4>
		<br />
		<br />
		<br />
	</div>
</div>

<!-- Introduction -->
<div class="row">
	<h1 style="font-size:48px"><i>OpenBazaar</i> Contract Tools</h1>
	<h2 >What is this?</h2>
	<hr>
	<p>Client-side tools created with AngularJS to parse <i>OpenBazaar</i> Ricardian Contracts formatted in JSON, displaying them in stylish HTML (twitter bootstrap, responsive design), and also automagically populate the fields of <i>CommonAccord's</i> legally enforceable escrow contract template.</p>
	<p>Please note that this is for <b>testing only</b>, using a yet unimplemented version of the <i>OpenBazaar</i> contract schema. It is also an unfinished tool, so do not expect that anything your create here is legally enforceable... neither is it legal advice. Always consult legal experts.</p>
	<br />
</div>

<!-- ############################## -->
<!-- ## Contract Generator Tools ## -->
<!-- ############################## -->

<!-- # 1. Create Contract # -->
<div ng-show="peek1">

	<div class="row">
		<h2>Create an <i>OpenBazaar</i> Ricardian Contract</h2>
		<hr>
	</div>

	<div class="row">
		<div class="well bs-component col-lg-12">
			<form class="form-horizontal">
			<fieldset>

			<div ng-keyup="start()">

				<h3>Stage 01: The Merchant</h3>
				<hr />

				<h4>Item Details</h4>

				<!-- Item Title -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Title</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_title" ng-model="item_title" autocomplete="off" placeholder="What is your item called?" >
					</div>
				</div>

				<!-- Item Description -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Description</label>
					</div>
					<div class="col-lg-9">
						<textarea type="text" class="form-control " id="item_description" ng-model="item_description" autocomplete="off" placeholder="Tell us about your item"  rows="4"></textarea>
					</div>
				</div>

				<!-- Item Price -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Price (BTC)</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_price" ng-model="item_price" autocomplete="off" placeholder="Price of the item in Bitcoin" >
					</div>
				</div>

				<!-- Item Price Fiat -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Price (fiat)</label>
					</div>
					<div class="col-lg-6">
						<input type="text" class="form-control" id="item_fiat_price" ng-model="item_fiat_price" autocomplete="off" placeholder="Price in fiat?" >
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="item_fiat_xe" ng-model="item_fiat_xe" autocomplete="off" placeholder="What is the currency code?" >
					</div>
				</div>

				<!-- Item Image -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Item Image</label>
					</div>
					<div class="col-lg-6">
						<input type="text" class="form-control " id="item_image" ng-model="item_image" autocomplete="off" placeholder="Enter direct URL here" >
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control " id="item_image_hash" ng-model="item_image_hash" autocomplete="off" placeholder="Enter SHA256 hash of the image" >
					</div>
				</div>

				<!-- Item Condition -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Item Condition</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_condition" ng-model="item_condition" autocomplete="off" placeholder="What is the item's condition?" >
					</div>
				</div>

				<!-- Item Quantity -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Quantity</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_quantity" ng-model="item_quantity" autocomplete="off" placeholder="How many units of the item are you selling?" >
					</div>
				</div>

				<!-- Item Keywords -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Keywords</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="item_keywords" ng-model="item_keywords" autocomplete="off" placeholder="Separate keywords with a comma!" >
					</div>
				</div>

				<!-- Item Region and Delivery -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Region and Estimated Delivery</label>
					</div>
					<div class="col-lg-5">
						<input type="text" class="form-control " id="item_region" ng-model="item_region" autocomplete="off" placeholder="Regions you can ship to" >
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control " id="item_estdelivery" ng-model="item_estdelivery" autocomplete="off" placeholder="What is the estimated delivery time?" >
					</div>
				</div>

				<!-- Expiration date -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Contract Expiration Date</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="metadata_expdate" ng-model="metadata_expdate" autocomplete="off" placeholder="When is this contract invalid?" >
					</div>
				</div>

				<br />

				<h4>The Merchant</h4>

				<!-- MERCHANT -->
				<!-- Guid -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Merchant GUID</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="merchant_guid" ng-model="merchant_guid"  autocomplete="off" placeholder="Should be lots of numbers" >
					</div>
				</div>

				<!-- Handle -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Merchant Handle</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="merchant_handle" ng-model="merchant_handle"  autocomplete="off" placeholder="(e.g. drwasho)" >
					</div>
				</div>

				<!-- Legal Address -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Legal Address</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="merchant_legaladdress" ng-model="merchant_legaladdress"  autocomplete="off" placeholder="For CommonAccord escrow contracts only" >
					</div>
				</div>

				<!-- PGP Public Key -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">PGP Pubkey</label>
					</div>
					<div class="col-lg-9">
						<textarea type="text" class="form-control " id="merchant_pgp_pubkey" ng-model="merchant_pgp_pubkey" autocomplete="off" placeholder="Enter PGP public key" rows="4"></textarea>
					</div>
				</div>

				<!-- Bitcoin Public Key -->
				<div class="form-group">
					<div class="col-lg-3">
						<label class="control-label">Bitcoin Pubkey</label>
					</div>
					<div class="col-lg-9">
						<input type="text" class="form-control " id="merchant_secp256k1_pubkey" ng-model="merchant_secp256k1_pubkey"  autocomplete="off" placeholder="Uncompressed pubkey; will create multisig escrow" >
					</div>
				</div>

				<br />

				<!-- #### MERCHANT Digital Signatures #### -->
				<h4>Digital Signatures</h4>

				<div class="form-group">

					<div class="col-lg-3">
						<label class="control-label">Merchant Digital Signature</label>
					</div>

					<div class="col-lg-9">

						<p></p>

						<!-- This is what you're supposed to digitally sign -->
						<span class="help-block">Digitally sign what appears below with your PGP key!</span>
						<p></p>
						<pre class="wordwrap" id="merchanthash">{{newcontract.stage01_merchant}}</pre>
						<br />

						<!-- This is the hash of Stage 01 Merchant Part -->
						<p><span class="help-block">SHA256 hash of "Stage 01: Merchant Part" (i.e. this is a tamper-proof statement of what you want to sell)</span></p>
						<input class="form-control" type="text" value="{{stage01hash}}" disabled="">
						<br />

						<!-- Enter Digital Signature -->
						<span class="help-block">By entering your digital signature, you are declaring your intention to <b>sell</b> the item in this contract!</span>
						<textarea class="form-control" id="merchant_digisig" ng-model="merchant_sig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
						<br />

						<div class="row">
							<div class="col-lg-6">
								<span class="help-block">Merchant's Public Key</span>
								<pre class="wordwrap" id="stage01_pubkey" style="font-size: 10px">{{newcontract.stage01_merchant.merchant.pubkeys.pgp}}</pre>
							</div>
							<div class="col-lg-6">
								<span class="help-block">Merchant's Digital Signature</span>
								<pre class="wordwrap" id="stage01_merchantsig" style="font-size: 10px">{{newcontract.signatures.merchant_sig}}</pre>
							</div>
						</div>

						<p></p>

					</div>

				</div> <!-- End of Form Group -->
			</div> <!-- End of Start() -->

			<div>
				<p></p>
				<button type="button" ng-click="stage01_verify()" class="btn btn-primary" >Verify</button>
				<br />
				<!-- TEMP: Check of success or failure -->
				<h4>{{check}}</h4>
			</div>

			</fieldset> <!-- End of Fieldset -->
			</form> <!-- End of Form -->
		</div> <!-- End of Well Component -->
	</div> <!-- End of Row -->

	<div class="row">

		<h2><i>OpenBazaar</i> Raw Contract</h2>
		<br />
		<pre id="createcontract" ng-model="createcontract" style="background-color:white;">{{display1}}</pre>

	</div>

</div> <!-- End of Peek 1 -->

<!-- # 2. Buy Contract # -->
<div ng-show="peek2">

		<div class="row">
			<h2>Buy an <i>OpenBazaar</i> Ricardian Contract</h2>
			<hr>
		</div>

		<div class="row">
			<div class="well bs-component col-lg-12">
				<form class="form-horizontal">
					<fieldset>

						<div ng-keyup="start2()">

							<h3>Stage 02: The Buyer</h3>
							<hr />

							<!-- Import -->
							<div>

								<h4>Purchase Contract</h4>

								<!-- Import contract -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">OpenBazaar Merchant Contract</label>
									</div>
									<div class="col-lg-9">
										<textarea type="text" ng-model="buycontract" class="form-control" autocomplete="off" placeholder="Enter in the contract you want to purchase" rows="12"></textarea>
									</div>
								</div>

							</div>

							<br />

							<!-- ## Buyer ## -->
							<div>

								<h4>Buyer Details</h4>

								<!-- Guid -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Buyer GUID</label>
									</div>
									<div class="col-lg-9">
										<input type="text" class="form-control " id="buyer_guid" ng-model="buyer_guid"  autocomplete="off" placeholder="Should be lots of numbers" >
									</div>
								</div>

								<!-- Handle -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Buyer Handle</label>
									</div>
									<div class="col-lg-9">
										<input type="text" class="form-control " id="buyer_handle" ng-model="buyer_handle"  autocomplete="off" placeholder="(e.g. drwasho)" >
									</div>
								</div>

								<!-- Legal Address -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Legal Address</label>
									</div>
									<div class="col-lg-9">
										<input type="text" class="form-control " id="buyer_legaladdress" ng-model="buyer_legaladdress"  autocomplete="off" placeholder="For CommonAccord escrow contracts only" >
									</div>
								</div>

								<!-- PGP Public Key -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">PGP Pubkey</label>
									</div>
									<div class="col-lg-9">
										<textarea type="text" class="form-control " id="buyer_pgp_pubkey" ng-model="buyer_pgp_pubkey" autocomplete="off" placeholder="Enter PGP public key" rows="4"></textarea>
									</div>
								</div>

								<!-- Bitcoin Public Key -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Bitcoin Pubkey</label>
									</div>
									<div class="col-lg-9">
										<input type="text" class="form-control " id="buyer_secp256k1_pubkey" ng-model="buyer_secp256k1_pubkey"  autocomplete="off" placeholder="Uncompressed pubkey; will create multisig escrow" >
									</div>
								</div>

								<br />

							</div>
							<!-- End of buyer div -->

							<!-- #### BUYER Digital Signatures #### -->
							<h4>Digital Signatures</h4>

							<div class="form-group">

								<div class="col-lg-3">
									<label class="control-label">Buyer Digital Signature</label>
								</div>

								<div class="col-lg-9">

									<p></p>

									<!-- This is what you're supposed to digitally sign -->
									<span class="help-block">Digitally sign what appears below with your PGP key!</span>
									<p></p>
									<pre class="wordwrap" id="buyerhash">{{buyercontract.stage01_merchant}}</pre> <!-- Stage 01 Merchant part to either digitally sign, or hash. -->
									<br />

									<!-- This is the hash of Stage 01 Merchant Part -->
									<p><span class="help-block">SHA256 hash of "Stage 01: Merchant Part" (i.e. this is a tamper-proof statement of what you want to <b>buy</b>)</span></p>
									<input class="form-control" type="text" value="{{stage02hash}}" disabled="">
									<br />

									<!-- Enter Digital Signature -->
									<span class="help-block">By entering your digital signature, you are declaring your intention to <b>buy</b> the item in this contract!</span>
									<textarea class="form-control" id="buyer_digisig" ng-model="buyer_sig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
									<br />

									<div class="row">
										<div class="col-lg-6">
											<span class="help-block">Buyer's Public Key</span>
											<pre class="wordwrap" id="stage02_pubkey" style="font-size: 10px">{{buyercontract.stage02_buyer.pubkeys.pgp}}</pre>
										</div>
										<div class="col-lg-6">
											<span class="help-block">Buyer's Digital Signature</span>
											<pre class="wordwrap" id="stage02_buyersig" style="font-size: 10px">{{buyercontract.signatures.buyer_sig}}</pre>
										</div>
									</div>

									<p></p>

								</div>

							</div> <!-- End of digital signatures -->

						</div> <!-- End of start2() -->

						<div>
							<p></p>
							<button type="button" ng-click="stage02_verify()" class="btn btn-primary" >Verify</button>
							<br />
							<!-- TEMP: Check of success or failure -->
							<h4>{{check2}}</h4>
						</div>

					</fieldset>
				</form>
			</div>
		</div>

		<div class="row">

			<h2><i>OpenBazaar</i> Raw Contract</h2>
			<br />
			<pre id="createcontract" ng-model="debuyercontract" style="background-color:white;">{{display2}}</pre>

		</div>

	</div> <!-- End of Peek 2 -->

	<!-- # 2. Buy Contract # -->
<div ng-show="peek3">

		<div class="row">
			<h2>Notarise an <i>OpenBazaar</i> Ricardian Contract</h2>
			<hr>
		</div>

		<div class="row">
			<div class="well bs-component col-lg-12">
				<form class="form-horizontal">
					<fieldset>

						<div ng-keyup="start3()">

							<h3>Stage 03: The Notary</h3>
							<hr />

							<!-- Import -->
							<div>

								<h4>Purchase Contract</h4>

								<!-- Import contract -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">OpenBazaar Contract</label>
									</div>
									<div class="col-lg-9">
										<textarea type="text" ng-model="notarisecontract" class="form-control" autocomplete="off" placeholder="Enter in the contract you want to notarise" rows="12"></textarea>
									</div>
								</div>

							</div>

							<br />

							<!-- ## Notary ## -->
							<div>

								<h4>Notary Details</h4>

								<!-- Guid -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Notary GUID</label>
									</div>
									<div class="col-lg-9">
										<input type="text" class="form-control " id="notary_guid" ng-model="notary_guid"  autocomplete="off" placeholder="Should be lots of numbers" >
									</div>
								</div>

								<!-- Handle -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Buyer Handle</label>
									</div>
									<div class="col-lg-9">
										<input type="text" class="form-control " id="notary_handle" ng-model="notary_handle"  autocomplete="off" placeholder="(e.g. drwasho)" >
									</div>
								</div>

								<!-- Legal Address -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Legal Address</label>
									</div>
									<div class="col-lg-9">
										<input type="text" class="form-control " id="notary_legaladdress" ng-model="notary_legaladdress"  autocomplete="off" placeholder="For CommonAccord escrow contracts only" >
									</div>
								</div>

								<!-- PGP Public Key -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">PGP Pubkey</label>
									</div>
									<div class="col-lg-9">
										<textarea type="text" class="form-control " id="notary_pgp_pubkey" ng-model="notary_pgp_pubkey" autocomplete="off" placeholder="Enter PGP public key" rows="4"></textarea>
									</div>
								</div>

								<!-- Bitcoin Public Key -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Bitcoin Pubkey</label>
									</div>
									<div class="col-lg-9">
										<input type="text" class="form-control " id="notary_secp256k1_pubkey" ng-model="notary_secp256k1_pubkey"  autocomplete="off" placeholder="Uncompressed pubkey; will create multisig escrow" >
									</div>
								</div>

								<br />

							</div>
							<!-- End of buyer div -->

							<!-- Escrow -->
							<div>

								<h4>Multisignature Escrow Address</h4>

								<!-- Multisig address -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Multisignature Address</label>
									</div>
									<div class="col-lg-9">
										<input type="text" id="multisigaddr" ng-model="multisigaddr" class="form-control" autocomplete="off" placeholder="Enter the multisignature address"></input>
									</div>
								</div>

								<!-- Multisig redemption script -->
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Multisignature Redemption Script</label>
									</div>
									<div class="col-lg-9">
										<textarea type="text" id="multisigredeem" ng-model="multisigredeem" class="form-control" autocomplete="off" placeholder="Enter the multisignature address" rows="6"></textarea>
									</div>
								</div>

							</div>

							<!-- #### Notary Digital Signatures #### -->
							<h4>Digital Signatures</h4>

							<div class="form-group">

								<div class="col-lg-3">
									<label class="control-label">Notary Digital Signature</label>
								</div>

								<div class="col-lg-9">

									<p></p>

									<!-- This is what you're supposed to digitally sign -->
									<span class="help-block">Digitally sign what appears below with your PGP key!</span>
									<p></p>
									<pre class="wordwrap" id="notaryhash">{{notarycontract.stage01_merchant}}</pre> <!-- Stage 02 Buyer part to either digitally sign, or hash. -->
									<br />

									<!-- This is the hash of Stage 02 Buyer Part -->
									<p><span class="help-block">SHA256 hash of "Stage 02: buyer Part" (i.e. this is a tamper-proof statement of what you want to <b>notarise</b>)</span></p>
									<input class="form-control" type="text" value="{{stage03hash}}" disabled="">
									<br />

									<!-- Enter Digital Signature -->
									<span class="help-block">By entering your digital signature, you are declaring your intention to <b>notarise</b> this contract!</span>
									<textarea class="form-control" id="notary_digisig" ng-model="notary_sig" autocomplete="off" placeholder="Enter digital signature"  rows="6"></textarea>
									<br />

									<div class="row">
										<div class="col-lg-6">
											<span class="help-block">Notary's Public Key</span>
											<pre class="wordwrap" id="stage03_pubkey" style="font-size: 10px">{{notarycontract.stage03_buyer.pubkeys.pgp}}</pre>
										</div>
										<div class="col-lg-6">
											<span class="help-block">Buyer's Digital Signature</span>
											<pre class="wordwrap" id="stage03_notarysig" style="font-size: 10px">{{notarycontract.signatures.notary_sig}}</pre>
										</div>
									</div>

									<p></p>

								</div>

							</div> <!-- End of digital signatures -->

						</div> <!-- End of start2() -->

						<div>
							<p></p>
							<button type="button" ng-click="stage03_verify()" class="btn btn-primary" >Verify</button>
							<br />
							<!-- TEMP: Check of success or failure -->
							<h4>{{check3}}</h4>
						</div>

					</fieldset>
				</form>
			</div>
		</div>

		<div class="row">

			<h2><i>OpenBazaar</i> Raw Contract</h2>
			<br />
			<pre id="createcontract" ng-model="debuyercontract" style="background-color:white;">{{display3}}</pre>

		</div>

	</div> <!-- End of Peek 2 -->

<hr />

<!-- Footer Image -->
<div class="row">
	<div class="col-lg-12">
		<img src="assets/img/OBCA.png" style="width:100%" />
	</div>
</div>

<!-- End of second div container -->
</div>

<!-- Load my crap faster -->
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/sha256.js"></script>
<script src="assets/js/openpgp.min.js"></script>
<script src="assets/js/app.js"></script>

</body>

</html>
